:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--surface-card);
  }
  
  h1 {
    margin-top: 0;
  }
  .login-bg{
    background: url('../assets/img/road-bg.jpg') ; 
    background-size: cover
  }
  .scroll{
    width: 100%;
    height: 110px;
    overflow: scroll;

  }
  .tag{
    width: 15vh;
    height: 4vh;
    font-size: medium;
  }
  .car-details-container {
    animation: fadeIn 0.7s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }